.mensaje-error{
  color: #FA787E;
}


form.ng-submitted input.ng-invalid{
  border-color: #990000;
}

form input.ng-invalid.ng-touched{
  border-color: #990000;
}

.obligatorio{
	color: #FF0000;
	font-weight: bold;

}