<div class="container " ng-controller="usuarioController" >
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel"> 
					<div class="panel-heading">
						<center>
							<h4>Sistema de Reservas AeroTech</h4>
						</center>
					<div class="panel-body">

						<form role="form" name = "formularioLogin">

							<fieldset>
								<div class="form-group">
									<input class="form-control" placeholder="E-mail" name="email" ng-model="userName"
										type="email" autofocus required>
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="Password"
									id="password"	name="password" type="password" value="" required ng-model="password">
								</div>
								<div class="checkbox"></div>
								<!-- Change this to a button or input when using this as a form -->
								<button type="button" ng-click="login()" name="botonEnvio" class="btn btn-lg btn-info btn-block">Autenticar</button>
							</fieldset>
						</form>
						<br>
						<br>
						 <a ui-sref="registro" ui-sref-active="active">Registrarse</a>
						<br>
						<center>
							Derechos reservados <br> 2017
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>