<div >
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom row">
          <div class="container">
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                  </button>
                  <img src="app/images/airplane.png" class="navbar-brand img-responsive" alt=""><a class="navbar-brand" href="#/" >AERO TECH</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>
                      <li class="page-scroll">
                          <a href="#portfolio">Comprar Tickets</a>
                      </li>
                      <li class="page-scroll">
                          <a ui-sref="home.misreservas" ui-sref-active="active" >Mis Reservas</a>
                      </li>
                       <li class="dropdown ">
      					<a id="productos" class="dropdown-toggle " data-toggle="dropdown" >Consultas Vuelos<span class="caret"></span></a>
      							<ul class="dropdown-menu fondo">
        							<li class="page-scroll "><a class="color-anchor" href="#">Horarios de Vuelos</a></li>
        							<li class="page-scroll "><a ui-sref="home.tarifa" ui-sref-active="active">Tarifas de Vuelos</a></li>
        							<li class="page-scroll "><a ui-sref="home.estado" ui-sref-active="active" class="color-anchor" >Estado del Vuelo</a></li>                        
      							</ul>
    					</li>
                        <li class="dropdown ">
      					<a id="usuario" name="usuario" class="dropdown-toggle " data-toggle="dropdown" >{{usuario.nombres}}<span class="caret"></span></a>
      							<ul class="dropdown-menu fondo">
        							<li class="page-scroll "><a class="color-anchor" ng-click="logout();">Salir</a></li>
        						</ul>
    					</li>
                  </ul>
              </div>
          </div>
      </nav>
      <div>
      <ui-view></ui-view>
      </div>
      </div>