<head>
<meta charset="utf-8">
</head>
<div class="row">
<div class="col-md-12"><br><br><br><br><br></div>
<div class="col-md-4"></div>
<div class="col-md-3">
<h1 class="text-center">Registrarse</h1>
<div ng-controller="usuarioController">
<form name="formusuario" novalidate>
  <div class="form-group">
    <label for="nombres">Nombres <b class="obligatorio"> * </b></label>
    <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Escriba sus nombres " ng-model="usuario.nombres" ng-model-options="{ updateOn: 'blur' }" autofocus required="required" >
    <span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.nombres.$touched" ><span ng-show="!formusuario.$pristine && formusuario.nombres.$error.required">Debe proporcionar un valor para el campo nombres</span></span>
  </div>
   <div class="form-group">
    <label for="apellidos">Apellidos <b class="obligatorio"> * </b></label>
    <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Escriba sus apellidos" ng-model="usuario.apellidos" ng-model-options="{ updateOn: 'blur' }" required="required" >
    <span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.apellidos.$touched" ><span ng-show="!formusuario.$pristine && formusuario.apellidos.$error.required">Debe proporcionar un valor para el campo apellidos</span></span>
  </div>
  <div class="form-group">
    <label for="id">Número de Identificación <b class="obligatorio"> * </b></label>
    <input type="text" class="form-control" id="id" name="id" placeholder="Escriba su numero de identificación" ng-model="usuario.id" ng-model-options="{ updateOn: 'blur' }" required="required" >
    <span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.id.$touched" ><span ng-show="!formusuario.$pristine && formusuario.id.$error.required">Debe proporcionar un valor para el campo numero de identificación</span></span>
  </div>
   <div class="form-group">
    <label for="fechaNacimiento">Fecha De Nacimiento <b class="obligatorio"> * </b></label>
    <input type="date" class="form-control" id="fechaNacimiento" name="fechaNacimiento" min="1910-01-01" ng-model="usuario.fechaNacimiento" ng-model-options="{ updateOn: 'blur' }" required="required" >
    <span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.fecha.$touched" ><span ng-show="!formusuario.$pristine && formusuario.fechaNacimiento.$error.required">Debe proporcionar un valor para el campo fecha de nacimiento</span></span>
  </div>
  <div class="form-group">
    <label for="genero">Seleccione Genero <b class="obligatorio"> * </b></label>
    <select  class="form-control" id="genero" name="genero" ng-model="usuario.genero" ng-model-options="{ updateOn: 'blur' }" required="required" >
      <option value="F">FEMENINO</option>
      <option value="M">MASCULINO</option>
    </select>
   <span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.genero.$touched" ><span ng-show="!formusuario.$pristine && formusuario.genero.$error.required">Debe proporcionar un valor para el campo genero</span></span>
  </div>
  <div class="form-group">
    <label for="telefono">Telefono <b class="obligatorio"> * </b></label>
    <input type="text"  class="form-control" id="telefono" name="telefono" maxlength="12" placeholder="Escriba aqui su telefono"  ng-model="usuario.telefono" ng-model-options="{ updateOn: 'blur' }" required="required">
  	<span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.telefono.$touched"><span ng-show="!formusuario.$pristine && formusuario.usuario.$error.required">Debe proporcionar un valor para el campo telefono</span></span>
  </div>
   <div class="form-group">
    <label for="email">Email <b class="obligatorio"> * </b></label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Escriba aqui su email"  ng-model="usuario.email" ng-model-options="{ updateOn: 'blur' }" required="required">
   <span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.email.$touched"><span ng-show="!formusuario.$pristine && formusuario.usuario.$error.required">Debe proporcionar un valor para el campo email</span></span>
  </div>
    <div class="form-group">
    <label for="password">Contraseña <b class="obligatorio"> * </b></label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Escriba aqui su contraseña"  ng-model="usuario.password" ng-model-options="{ updateOn: 'blur' }" required="required">
   <span class="mensaje-error" ng-show="formusuario.$submitted || formusuario.password.$touched"><span ng-show="!formusuario.$pristine && formusuario.usuario.$error.required">Debe proporcionar un valor para el campo email</span></span>
  </div>
   <div class="form-group text-center">
    <button type="button" name="btnGuardar" id="btnGuardar" class="btn btn-success" ng-disabled="formusuario.$invalid" ng-style="disableElements"  ng-click="guardarUsuario(formusuario);">Registrar</button>
  </div>
  </form>
</div>
</div>
<div class="col-md-5"></div>
</div>
